<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--jangan lupa dilokalin-->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <link rel="icon" th:href="@{dist/img/favicons/favicon.ico}"/>

        <title>Dashboard Template for Bootstrap</title>

        <!-- Bootstrap core CSS -->
        <link th:href="@{dist/css/bootstrap.min.css}" rel="stylesheet"/>

        <!-- Custom styles for this template -->
        <link th:href="@{dist/css/dashboard.css}" rel="stylesheet"/>
    </head>

    <body>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
            <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="#">Sign out</a>
                </li>
            </ul>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <span data-feather="home"></span>
                                    Dashboard <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">Dashboard</h1>
                    </div>

                    <!-- Begin Container-->
                    <div class="container-fluid">
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">     
                            <h1 class="h3 mb-0 text-gray-800">Setting User</h1>
                            <a class="btn btn-success" data-target="#modalUser" data-toggle="modal">Add User</a>
                        </div>
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">     
                            <a class="btn btn-success" data-target="#modalUpload" data-toggle="modal">Upload photo</a>
                        </div>

                        <!--modaladduser-->
                        <form class="w3-container" action="AddUserServlet" method="POST">
                            <div class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content" >
                                        <div class="modal-header text-center">
                                            <h3 class="modal-title">Add User</h3>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body mx-3">
                                            <div class="md-form my-5">
                                                <label data-error="wrong" data-success="true">Name</label>
                                                <input type="text" name="name" id="name-r" class="form-control">
                                            </div>
                                            <div class="md-form my-5">
                                                <label data-error="wrong" data-success="true">Gender</label>
                                                <select name="gender" id="gender" class="form-control">
                                                    <option value="0">Female</option>
                                                    <option value="1">Male</option>
                                                </select>
                                            </div>
                                            <div class="md-form my-5">
                                                <label data-error="wrong" data-success="true">Married Status</label>
                                                <select name="marriedstatus" class="form-control">
                                                </select>
                                            </div>
                                            <div class="md-form my-5">
                                                <label data-error="wrong" data-success="true">Manager</label>
                                                <select name="manager" class="form-control">
                                                    <option value=""> </option>
                                                </select>
                                            </div>
                                            <div class="md-form my-5">
                                                <label data-error="wrong" data-success="true">Job</label>
                                                <select name="job" class="form-control">
                                                </select>
                                            </div>
                                            <div class="md-form my-5">
                                                <label data-error="wrong" data-success="true">Join Date</label>
                                                <input type="date" id="joindate" name="joindate" class="form-control"/>
                                            </div>
                                            <div class="md-form my-5">
                                                <label data-error="wrong" data-success="true">Leave Total</label>
                                                <input type="text" id="totaldate" name="totaldate" class="form-control"/>
                                            </div>
                                            <div class="md-form my-5">
                                                <label data-error="wrong" data-success="true">Email</label>
                                                <input type="text" name="email" id="email-r" class="form-control" value="">
                                            </div>
                                            <div class="md-form my-5">
                                                <label data-error="wrong" data-success="true">Password</label>
                                                <input type="text" name="password" id="password-r" class="form-control" value="">
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <input class="btn btn-default" type="submit" value="Save" name="save" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!--modaldetail-->
                        <div class="modal fade" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content" >
                                    <div class="modal-header text-center">
                                        <h3 class="modal-title">Detail User</h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body mx-3">
                                        <div class="md-form my-2">
                                            <label data-error="wrong" data-success="true">Id</label>
                                            <input type="text" id="id-d" name="id" class="form-control" readonly=""/>
                                        </div>
                                        <div class="md-form my-2">
                                            <label data-error="wrong" data-success="true">Name</label>
                                            <input type="text" id="name-d" name="name-d" class="form-control" readonly=""/>
                                        </div>
                                        <div class="md-form my-2">
                                            <label data-error="wrong" data-success="true">Gender</label>
                                            <input type="text" id="gender-d" name="gender-d" class="form-control" readonly=""/>
                                        </div>
                                        <div class="md-form my-2">
                                            <label data-error="wrong" data-success="true">Married Status</label>
                                            <input type="text" id="marstat-d" name="marstat-d" class="form-control" readonly=""/>
                                        </div>
                                        <div class="md-form my-2">
                                            <label data-error="wrong" data-success="true">Manager</label>
                                            <input type="text" id="idman-d" name="manager-d" class="form-control" readonly=""/>
                                        </div>
                                        <div class="md-form my-2">
                                            <label data-error="wrong" data-success="true">Job</label>
                                            <input type="text" id="job-d" name="job-d" class="form-control" readonly=""/>
                                        </div>
                                        <div class="md-form my-2">
                                            <label data-error="wrong" data-success="true">Join Date</label>
                                            <input type="text" id="joindate-d" name="joindate-d" class="form-control" readonly=""/>
                                        </div>
                                        <div class="md-form my-2">
                                            <label data-error="wrong" data-success="true">Leave Total (day)</label>
                                            <input type="text" id="total-d" name="total-d" class="form-control" readonly="" />
                                        </div>
                                        <div class="md-form my-2">
                                            <label data-error="wrong" data-success="true">Email</label>
                                            <input type="text" id="email-d" name="email-d" class="form-control" readonly=""/>
                                        </div>
                                        <div class="md-form my-2">
                                            <label data-error="wrong" data-success="true">Photo</label>
                                            <!--space utk foto-->
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-light" type="submit" name="sendemail" >Send Email Verification</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--modaledit-->                                
                        <form class="w3-container" action="AddUserServlet?action=edit" method="POST">
                            <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content" >
                                        <div class="modal-header text-center">
                                            <h3 class="modal-title">Edit User</h3>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body mx-3">
                                            <div class="md-form my-2">
                                                <label data-error="wrong" data-success="true">ID</label>
                                                <input type="text" name="id" id="id-e" class="form-control">
                                            </div>
                                            <div class="md-form my-2">
                                                <label data-error="wrong" data-success="true">Name</label>
                                                <input type="text" name="name" id="name-e" class="form-control">
                                            </div>
                                            <div class="md-form my-2">
                                                <label data-error="wrong" data-success="true">Gender</label>
                                                <select name="gender" id="gender-e" class="form-control">
                                                    <option value="0">Female</option>
                                                    <option value="1">Male</option>
                                                </select>
                                            </div>
                                            <div class="md-form my-2">
                                                <label data-error="wrong" data-success="true">Married Status</label>
                                                <select name="marriedstatus" id="marstat-e" class="form-control">
                                                </select>
                                            </div>
                                            <div class="md-form my-2">
                                                <label data-error="wrong" data-success="true">Manager</label>
                                                <select name="manager" id="manager-e" class="form-control">
                                                    <option value=""> </option>
                                                </select>
                                            </div>
                                            <div class="md-form my-2">
                                                <label data-error="wrong" data-success="true">Job</label>
                                                <select name="job" id="job-e" class="form-control">
                                                   
                                                </select>
                                            </div>
                                            <div class="md-form my-2">
                                                <label data-error="wrong" data-success="true">Join Date</label>
                                            </div>
                                            <div class="md-form my-2">
                                                <label data-error="wrong" data-success="true">Leave Total</label>
                                                <input type="text" id="totaldate-e" name="totaldate" class="form-control"/>
                                            </div>
                                            <div class="md-form my-2">
                                                <label data-error="wrong" data-success="true">Email</label>
                                                <input type="text" name="email" id="email-e" class="form-control" value="">
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <input class="btn btn-default" type="submit" value="Save" name="save" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!--modal delete-->
                        <form class="w3-container" action="AddUserServlet?action=delete" method="POST">
                            <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content" >
                                        <div class="modal-header text-center">
                                            <h3 class="modal-title">Delete User</h3>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body mx-3">
                                            <div class="md-form my-5">
                                                <div class="my-2">
                                                    <label data-error="wrong" data-success="true">Are you sure want to delete?</label>
                                                </div>
                                                <div class="my-2">
                                                    <input type="text" name="iddelete" id="id-del" class="form-control" readonly>
                                                </div>
                                                <div class="my-2">
                                                    <input type="text" name="namedelete" id="name-del" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <input class="btn btn-default" type="submit" value="Delete" name="delete" />
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!--modalupload-->
                        <form class="w3-container" action="UploadServlet" method="POST">
                            <div class="modal fade" id="modalUpload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content" >
                                        <div class="modal-header text-center">
                                            <h3 class="modal-title">Upload</h3>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body mx-3">
                                            <div class="md-form my-5">
                                                <div class="my-2">
                                                    <label data-error="wrong" data-success="true">Upload Photo for</label>
                                                    <select name="idemployee" class="form-control">
                                                    </select>
                                                </div>
                                                <div class="my-2">
                                                    <input type="file" name="pathFile" id="path-f" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <input class="btn btn-outline-success" type="submit" value="UP!" name="up" />
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div>
                            <table id="" class=" table table-striped" cellspacing='30' align ='center' border="1">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Name</th>
                                        <th>Job</th>
                                        <th>Join Date</th>
                                        <th>Leave Quota (day)</th>
                                        <th>Details</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td><a class="btn btn-outline-warning" data-target="#modalDetail" data-getid="" 
                                               data-getname="" 
                                               data-getgender=""</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-success" data-target="#modalEdit" 
                                                    data-getid =""
                                                    data-getname="" 
                                                    data-getgender="" 
                                                    data-getemail="" 
                                                    data-getpass="" data-gettotal=""
                                                    data-getmarstat="" data-getmanid=""
                                                    data-getjob="" 
                                                    data-getjoindate="" 
                                                    data-getphoto="" data-toggle="modal">
                                                <span class="glyphicon glyphicon-edit"></span>Edit
                                            </button>
                                            <button type="button" class="btn btn-outline-danger" data-target="#modalDelete" data-toggle="modal"
                                                    data-getid =""
                                                    data-getname="" >
                                                <span class="glyphicon glyphicon-edit"></span> Delete
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Container-->
                </main>
            </div>
            <!-- End of Page Wrapper -->

            <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <!--<script>window.jQuery || document.write('<script th:src="@{dist/js/jquery-slim.min.js"><\/script>}')</script>-->
            <script th:src="@{dist/js/popper.min.js}"></script>
            <script th:src="@{dist/js/bootstrap.min.js}"></script>

            <!-- Icons -->
            <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
            <script>
                feather.replace()
            </script>
            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

            <script>
                $("#startdate").datepicker({beforeShowDay: $.datepicker.noWeekends, dateFormat: 'dd-mm-yy'});
                $("#enddate").datepicker({beforeShowDay: $.datepicker.noWeekends, dateFormat: 'dd-mm-yy'});
                $("#startdate").click(function () {
                    var start = document.getElementById("startdate").value;
                    var end = document.getElementById("enddate").value;
                    var startTanggal = start.split("-")[0];
                    var endTanggal = end.split("-")[0];
                    var startBulan = start.split("-")[1];
                    var endBulan = end.split("-")[1];
                    var startTahun = start.split("-")[2];
                    var endTahun = end.split("-")[2];
                    var totalCuti = (endTanggal - startTanggal + 1 + ((endBulan - startBulan) * 30) + ((endTahun - startTahun) * 360));
                    document.getElementById("total").value = totalCuti.toString();
                });
                $("#enddate").click(function () {
                    var start = document.getElementById("startdate").value;
                    var end = document.getElementById("enddate").value;
                    var startTanggal = start.split("-")[0];
                    var endTanggal = end.split("-")[0];
                    var startBulan = start.split("-")[1];
                    var endBulan = end.split("-")[1];
                    var startTahun = start.split("-")[2];
                    var endTahun = end.split("-")[2];
                    var totalCuti = (endTanggal - startTanggal + 1 + ((endBulan - startBulan) * 30) + ((endTahun - startTahun) * 360));
                    document.getElementById("total").value = totalCuti.toString();
                });
            </script>
    </body>
</html>
