<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="dist/img/favicons/favicon.ico">

        <title>Add User Leave Request</title>

        <!-- Bootstrap core CSS -->
        <link href="dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="dist/css/dashboard.css" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
            <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="#">Sign out</a>
                </li>
            </ul>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <span data-feather="home"></span>
                                    Dashboard <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">Dashboard</h1>
                    </div>

                    <!-- Content -->
                    <h4>Add User</h4>
                    <div class="row" style="padding: 10px 0 10px 0">
                        <div class="col-sm-6">
                            <button data-target="#mdlAdd" data-toggle="modal" class="btn btn-warning">Add User</button>
                        </div>
                    </div>
                    <table id="adduser" class="table table-bordered table-striped" style="width: 100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Join Date</th>
                                <th>Leave Quota (day)</th>
                                <th>ID Manager</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody id="tblAdd">
                            <tr th:each="req : ${employeeData}">

                                <td th:text="${req.name}"></td>
                                <td th:text="${req.joindate}"></td>
                                <td th:text="${req.quota}"></td>
                                <td th:text="${req.idmanager.id}"></td>

                                <td>
                                    <button id="btn" data-target="#mdlAdd" data-toggle="modal" 
                                            th:data-getname="${req.name}" 
                                            th:data-getjoindate="${req.joindate}"
                                            th:data-getquota="${req.quota}" 
                                            class="btn btn-outline-success">Detail</button>
                                    <button id="btn" data-target="#mdlAdd" data-toggle="modal" 
                                            th:data-getname="${req.name}" 
                                            th:data-getjoindate="${req.joindate}"
                                            th:data-getquota="${req.quota}" 
                                            class="btn btn-outline-success">Edit</button>
                                    <button id="btn" data-target="#mdlAdd" data-toggle="modal" 
                                            th:data-getid="${req.id}" 
                                            class="btn btn-outline-success">Hapus</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--modal add user-->
                    <div class="modal fade" id="mdlAdd" tabindex="-1" role="dialog" 
                         aria-labelledby="modal-add" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">   
                                    <h5 class="modal-title" id="modal-add">Add User Request</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form th:action="@{/employeesave}" method="Post">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <input id="id" name="id" class="form-control" placeholder="ID" type="hidden"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Name </label>
                                            <input id="name" name="name"class="form-control" placeholder="Name" type="type"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Gender Type</label>
                                            <select class="custom-select" name="gendertype" id="gender">
                                                <div th:each="data :${addgender}">
                                                    <option class="form-control" th:value="${data.gendertype}" th:text="${data.gendertype}"></option>
                                                </div>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Quota</label>
                                            <input id="quota" name="quota" placeholder="Quota" class="form-control" type="text"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Email</label>
                                            <input id="email" name="email" placeholder="Email" class="form-control" type="text"/>
                                        </div>
                                        <div class="form-group">
                                            <input id="password" name="password" class="form-control" placeholder="Password" type="hidden"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Married Status</label>
                                            <select class="custom-select" name="marriedstatus" id="married">
                                                <div th:each="data :${adddata}">
                                                    <option class="form-control" th:value="${data.id}" th:text="${data.id}"></option>
                                                </div>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="name">Join Date</label>
                                            <input id="joindate" name="joindate" placeholder="Join Date" class="form-control" type="date"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Manager ID</label>
                                            <input id="manager" name="idmanager" th:field="*{employeesave.idmanager}" placeholder="Manager ID" class="form-control" type="type"/>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-default">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!--modal detail-->
                    <div class="modal fade" id="mdlDetail" tabindex="-1" role="dialog" 
                         aria-labelledby="modal-add" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">   
                                    <h5 class="modal-title" id="modal-add">Detail User Request</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form th:action="@{/employeesave}" method="Post">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="name">ID </label>
                                            <input id="id-r" name="id-r" class="form-control" placeholder="ID" type="readonly"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Name </label>
                                            <input id="name-r" name="name-r" class="form-control" placeholder="Name" type="readonly"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Gender Type</label>
                                            <select class="custom-select" name="gender-r" id="gender-r">
                                                <div th:each="data :${addgender}">
                                                    <option class="form-control"></option>
                                                </div>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Quota</label>
                                            <input id="quota-r" name="quota-r" placeholder="Quota" class="form-control" type="readonly"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Email</label>
                                            <input id="email-r" name="email-r" placeholder="Email" class="form-control" type="readonly"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Married Status</label>
                                            <select class="custom-select" name="married-r" id="married-r">
                                                <div th:each="data :${adddata}">
                                                    <option class="form-control" th:text="${data.status}"></option>
                                                </div>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Manager ID</label>
                                            <input id="manager-r" name="manager-r" placeholder="Manager ID" class="form-control" type="readonly"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Join Date</label>
                                            <input id="joindate-r" name="joindate-r" placeholder="Join Date" class="form-control" type="readonly"/>
                                        </div>

                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!--modal edit user-->
                    <!--                    <div class="modal fade" id="mdlAdd" tabindex="-1" role="dialog" 
                                             aria-labelledby="modal-add" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">   
                                                        <h5 class="modal-title" id="modal-add">Add User Request</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <form th:action="@{/employeesave}" method="Post">
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <label for="name">ID </label>
                                                                <input id="id-y" name="id-y" th:field="*{employeesave.id-y}" class="form-control" placeholder="ID" type="type"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Name </label>
                                                                <input id="name-y" name="name-y" th:field="*{employeesave.name-y}" class="form-control" placeholder="Name" type="type"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Gender Type</label>
                                                                <select class="custom-select" name="gender-y" id="gender-y">
                                                                    <div th:each="data :${addgender}">
                                                                        <option class="form-control" th:value="${data.id}" th:text="${data.gendertype}"></option>
                                                                    </div>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Quota</label>
                                                                <input id="quota-y" name="quota-y" th:field="*{employeesave.quota-y}" placeholder="Quota" class="form-control" type="text"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Email</label>
                                                                <input id="email" name="email" th:field="*{employeesave.email-y}" placeholder="Email" class="form-control" type="text"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Married Status</label>
                                                                <select class="custom-select" name="married-y" id="married-y">
                                                                    <div th:each="data :${adddata}">
                                                                        <option class="form-control" th:value="${data.id}" th:text="${data.status}"></option>
                                                                    </div>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Manager ID</label>
                                                                <input id="manager-y" name="manager-y" th:field="*{employeesave.manager-y}" placeholder="Manager ID" class="form-control" type="type"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Join Date</label>
                                                                <input id="joindate-y" name="joindate-y" th:field="*{employeesave.joindate-y}" placeholder="Join Date" class="form-control" type="type"/>
                                                            </div>
                                                            
                                                        </div>
                    
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-default">Save</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>-->

                    <!-- /.End Content -->
                </main>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="dist/js/jquery-slim.min.js"><\/script>')</script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
        <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script src="dist/js/popper.min.js"></script>
        <script src="dist/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#adduser').DataTable();
            });
        </script>
        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
            feather.replace()
        </script>
        <script>
            $('#mdlDetail').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var id = button.data('getid');
                var name = button.data('getidemp');
                var datetime = button.data('getdatetime');
                var start = button.data('getstart');
                var end = button.data('getend');
                var total = button.data('gettotal');
                var reqid = button.data('getreqid');

                var modal = $(this);
                modal.find('#id').val(id);
                modal.find('#idemployee').val(idemp);
                modal.find('#datetime').val(datetime);
                modal.find('#requeststart').val(start);
                modal.find('#requestend').val(end);
                modal.find('#requesttotal').val(total);
                modal.find('#requestId').val(reqid);
                modal.find('#statusId').val('S2');
            });
        </script>


    </body>
</html>
