<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--jangan lupa dilokalin-->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <link rel="icon" th:href="@{dist/img/favicons/favicon.ico}"/>

        <title>History Request</title>

        <!-- Bootstrap core CSS -->
        <link th:href="@{dist/css/bootstrap.min.css}" rel="stylesheet"/>

        <!-- Custom styles for this template -->
        <link th:href="@{dist/css/dashboard.css}" rel="stylesheet"/>

    </head>

    <body>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">MII Leave Request</a>
            <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="./logout">Sign out</a>
                </li>
            </ul>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <!--<div class="row">-->
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li id="dashboardss" class="nav-item">
                                <a class="nav-link active" href="http://localhost:8085/">
                                    <span data-feather="home"></span>
                                    Dashboard <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav flex-column">
                                <a class="nav-link active" href="http://localhost:8085/profil">
                                    <span data-feather="settings"></span>
                                    Users Profile <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li id="addusersss" class="nav flex-column">
                                <a class="nav-link active" href="http://localhost:8085/adduser">
                                    <span data-feather="edit-2"></span>
                                    Add User <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav flex-column">
                                <a class="nav-link active" href="http://localhost:8085/addrequest">
                                    <span data-feather="activity"></span>
                                    Add Request <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav flex-column">
                                <a class="nav-link active" href="http://localhost:8085/historymanager">
                                    <span data-feather="bookmark"></span>
                                    History Manager <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav flex-column">
                                <a class="nav-link active" href="http://localhost:8085/historyuser">
                                    <span data-feather="bookmark"></span>
                                    History Users<span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav flex-column">
                                <a class="nav-link active" href="http://localhost:8085/approval">
                                    <span data-feather="clipboard"></span>
                                    Approval <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <!--                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                                            <h1 class="h2">Dashboard</h1>
                                        </div>-->

                    <!-- Content -->
                    <h4>Leave Request List (User)</h4>

                    <table id="historyuser" class="table table-bordered table-striped" style="width: 100%">
                        <thead>
                            <tr>
                                <th>Id Employee</th>
                                <th>Name</th>
                                <th>Request Date</th>
                                <!--                                <th>Start Date</th>
                                                                <th>End Date</th>-->
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="tblData">
                            <tr th:each="req : ${requestData}">
                                <td th:text="${req.request.employee.id}"></td>
                                <td th:text="${req.request.employee.name}"></td>
                                <td th:text="${#dates.format(req.datetime,'EEEE, dd-MMM-yyyy')}"></td>
                                <!--                                <td th:text="${#dates.format(req.request.startdate,'EEEE, dd-MMM-yyyy')}"></td>
                                                                <td th:text="${#dates.format(req.request.enddate,'EEEE, dd-MMM-yyyy')}"></td>-->
                                <td th:text="${req.status.type}"></td>
                                <td>
                                    <button id="btnDetailz" data-target="#mdlhistoryuser" data-toggle="modal" 
                                            th:data-getid="${req.id}" th:data-getidemp="${req.request.employee.id}" th:data-getname="${req.request.employee.name}"
                                            th:data-getdatetime="${#dates.format(req.datetime,'EEEE, dd-MMM-yyyy')}" th:data-getstart="${#dates.format(req.request.startdate,'EEEE, dd-MMM-yyyy')}"
                                            th:data-getend="${#dates.format(req.request.enddate,'EEEE, dd-MMM-yyyy')}" th:data-gettotal="${req.request.total}" 
                                            th:data-getleavetype="${req.request.leavetype.type}" th:data-getstatus="${req.status.type}" th:data-getdesc="${req.description}"
                                            class="btn btn-outline-success">Detail
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <div class="chart-note">
                            <button class="btnprint btn btn-default">
                                <i class="zmdi"></i>PRINT</button>
                        </div>
                        <!--<button data-target="#mdlUpload" data-toggle="modal" class="btn btn-warning">Upload Foto User</button>-->
                    </div>

                    <div class="modal fade" id="mdlhistoryuser" tabindex="-1" role="dialog" 
                         aria-labelledby="modal-historyuser" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">   
                                    <h5 class="modal-title" id="modal-add">Detail</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="name">ID Employee</label>
                                        <input id="idemployee" class="form-control" type="text" readonly=""/>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input id="nameemployee" class="form-control" type="text" readonly=""/>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Req Date</label>
                                        <input id="datetime" class="form-control" type="text" readonly=""/>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Start Date</label>
                                        <input id="requeststart" class="form-control" type="text" readonly=""/>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">End Date</label>
                                        <input id="requestend" class="form-control" type="text" readonly=""/>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Total</label>
                                        <input id="requesttotal" class="form-control" type="text" readonly=""/>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Leave Type</label>
                                        <input id="leavetype" class="form-control" type="text" readonly=""/>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Status</label>
                                        <input id="statuss" class="form-control" type="text" readonly=""/>
                                    </div>
                                    <div class="form-group">
                                        <label for="desc">Description (for Rejected)</label>
                                        <input id="desc" class="form-control" type="text" readonly=""/>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- /.End Content -->
                </main>
            </div>
        </div>

        <!-- Bootstrap core JavaScript  ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!--data table-->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
        <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <!--<script>window.jQuery || document.write('<script th:src="@{dist/js/jquery-slim.min.js"><\/script>}')</script>-->
        <script th:src="@{dist/js/popper.min.js}"></script>
        <script th:src="@{dist/js/bootstrap.min.js}"></script>
        <script>
            $(document).ready(function () {
                $('#historyuser').DataTable();
            });
        </script>

        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
            feather.replace()
        </script>
        <script>
            $('#mdlhistoryuser').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var idemp = button.data('getidemp');
                var nameemp = button.data('getname');
                var datetime = button.data('getdatetime');
                var start = button.data('getstart');
                var end = button.data('getend');
                var total = button.data('gettotal');
                var leavetype = button.data('getleavetype');
                var status = button.data('getstatus');
                var desc = button.data('getdesc');

                var modal = $(this);
                modal.find('#idemployee').val(idemp);
                modal.find('#nameemployee').val(nameemp);
                modal.find('#datetime').val(datetime);
                modal.find('#requeststart').val(start);
                modal.find('#requestend').val(end);
                modal.find('#requesttotal').val(total);
                modal.find('#leavetype').val(leavetype);
                modal.find('#statuss').val(status);
                modal.find('#desc').val(desc);

            });
        </script>
        <script>
            $('.btnprint').click(function () {
                var printme = document.getElementById('historyuser');
                var wme = window.open("", "", "width=900,height=700");
                wme.document.write(printme.outerHTML);
                wme.document.close();
                wme.focus();
                wme.print();
                wme.close();
            });
        </script>
    </body>
</html>