<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <link rel="icon" th:href="@{dist/img/favicons/favicon.ico}"/>

        <title>Dashboard Template for Bootstrap</title>

        <!-- Bootstrap core CSS -->
        <link th:href="@{dist/css/bootstrap.min.css}" rel="stylesheet"/>

        <!-- Custom styles for this template -->
        <link th:href="@{dist/css/dashboard.css}" rel="stylesheet"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"/>
        <script src="//code.jquery.com/jquery-1.12.4.js"></script>
        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="http://boot.mobilelegendadddiamond.web.id/vendor/jquery-easing/jquery.easing.min.js"></script>
    </head>

    <body onload="onload()">
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">MII Leave Request</a>
            <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="./logout">Sign out</a>
                </li>
            </ul>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <!--<div class="row">-->
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li id="dashboardss" class="nav-item">
                                <a class="nav-link active" href="http://localhost:8085/">
                                    <span data-feather="home"></span>
                                    Dashboard <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li id="usersprofil" class="nav flex-column">
                                <a class="nav-link active" href="http://localhost:8085/profil">
                                    <span data-feather="settings"></span>
                                    Users Profile <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li id="addusersss" class="nav flex-column">
                                <a class="nav-link active" href="http://localhost:8085/adduser">
                                    <span data-feather="edit-2"></span>
                                    Add User <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li id="addrequests" class="nav flex-column">
                                <a class="nav-link active" href="http://localhost:8085/addrequest">
                                    <span data-feather="activity"></span>
                                    Add Request <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav flex-column">
                                <a class="nav-link active" href="http://localhost:8085/historyuser">
                                    <span data-feather="bookmark"></span>
                                    History Users<span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li id="approvals" class="nav flex-column">
                                <a class="nav-link active" href="http://localhost:8085/approval">
                                    <span data-feather="clipboard"></span>
                                    Approval <span class="badge badge-danger" th:text="${requestcountApproval}"></span> <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">Welcome to Leave Request MII</h1>
                    </div>
                    <!-- Content -->

                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading" th:each="answer: ${dataEmployee}">
                                <label> Availabel Quota of Leave Request :  </label>
                                <button class ="btn btn-info btn-lg" data-toggle="collapse" data-target="#collapse1" th:text="${answer.quota}"></button>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse">
                                <ul class="list-group">
                                    <div>This Year (day)</div> <li style="width: 30%" class="list-group-item" th:text="${monthnow}"></li>
                                    <div>Last Year (day)</div> <li style="width: 30%" class="list-group-item" th:text="${lastyear}"></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <!-- /.End Content -->
                </main>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
        <!--<script>window.jQuery || document.write('<script src="dist/js/jquery-slim.min.js"><\/script>')</script>-->
        <script th:src="@{dist/js/popper.min.js}"></script>
        <script th:src="@{dist/js/bootstrap.min.js}"></script>

        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
        feather.replace()
        </script>
        <script th:inline="javascript">
//            $(document).ready(function () {
//            function onload() {
//                var holidays = [];
//                var asdsa = [[${idRole}]];
//                for (var i = 0; i < asdsa.length; i++) {
//                    holidays.push(asdsa[i]);
//                }
//                console.log(holidays);
//                var i1 = "J1"  //Direktur
//                var i2 = "J2"  //Manager
//                var i3 = "J3"  //Developer
//                var i4 = "J4"  //Admin
//                for (var i in holidays) {
//                    if (holidays[i] == i3 && holidays[i] == i2) {
//                        $("#dashboardss").removeAttr("hidden");
//                        $("#usersprofil").removeAttr("hidden");
//                        $("#addrequests").removeAttr("hidden");
//                        $("#historymanagers").removeAttr("hidden");
//                        $("#historyusers").removeAttr("hidden");
//                        $("#approvals").removeAttr("hidden");
//                        $("#addusersss").attr("hidden", true);
//                    }
//                    if (holidays[i] == i2 && holidays[i] == i4) {
//                        $("#dashboardss").removeAttr("hidden");
//                        $("#usersprofil").removeAttr("hidden");
//                        $("#addrequests").removeAttr("hidden");
//                        $("#historymanagers").removeAttr("hidden");
//                        $("#historyusers").removeAttr("hidden");
//                        $("#approvals").removeAttr("hidden");
//                        $("#addusersss").removeAttr("hidden");
//                    }
//                    if (holidays[i] == i3) {
//                        $("#addrequests").attr("hidden", true);
//                        $("#historymanagers").attr("hidden", true);
//                        $("#approvals").attr("hidden", true);
////                        if (holidays[i] == i2) {
////                            $("#addusersss").attr("hidden", true);
////                        }
//                    }
//                    if (holidays[i] == i2) {
//                        $("#dashboardss").removeAttr("hidden");
//                        $("#usersprofil").removeAttr("hidden");
//                        $("#addrequests").removeAttr("hidden");
//                        $("#historymanagers").removeAttr("hidden");
//                        $("#historyusers").removeAttr("hidden");
//                        $("#approvals").removeAttr("hidden");
//                        $("#addusersss").attr("hidden", true);
//                    }
//                    if (holidays[i] == i4) {
//                        $("#approvals").attr("hidden", true);
//                    }
//                    if (holidays[i] == i4 && holidays[i] == i3) {
//                        $("#dashboardss").removeAttr("hidden");
//                        $("#usersprofil").removeAttr("hidden");
//                        $("#addrequests").removeAttr("hidden");
//                        $("#historyusers").removeAttr("hidden");
//                        $("#addrequests").removeAttr("hidden");
//                        $("#historymanagers").attr("hidden", true);
//                        $("#approvals").attr("hidden", true);
//                    }
//                    if (holidays[i] == i1) {
//                        $("#dashboardss").removeAttr("hidden");
//                        $("#usersprofil").removeAttr("hidden");
//                        $("#addusersss").removeAttr("hidden");
//                        $("#addrequests").removeAttr("hidden");
//                        $("#historymanagers").removeAttr("hidden");
//                        $("#historyusers").removeAttr("hidden");
//                        $("#approvals").removeAttr("hidden");
//                    }
//                }
////                for (i3 in holidays) {
////                $("#dashboardss").removeAttr("hidden");
////                $("#usersprofil").removeAttr("hidden");
////                $("#addrequests").removeAttr("hidden");
////                $("#historyusers").removeAttr("hidden");
////                $("#addrequests").attr("hidden", true);
////                $("#historymanagers").attr("hidden", true);
////                $("#approvals").attr("hidden", true);
////                    console.log(i3);
////                }
////                for (i2 in holidays) {
////                $("#dashboardss").removeAttr("hidden");
////                $("#usersprofil").removeAttr("hidden");
////                $("#addrequests").removeAttr("hidden");
////                $("#historymanagers").removeAttr("hidden");
////                $("#historyusers").removeAttr("hidden");
////                $("#approvals").removeAttr("hidden");
////                    $("#addusersss").attr("hidden", true);
////                }
////                for (i4 in holidays) {
//////                    $("#dashboardss").removeAttr("hidden");
//////                    $("#usersprofil").removeAttr("hidden");
//////                    $("#addusersss").removeAttr("hidden");
//////                    $("#addrequests").removeAttr("hidden");
//////                    $("#historymanagers").removeAttr("hidden");
//////                    $("#historyusers").removeAttr("hidden");
////                    $("#approvals").attr("hidden", true);
////                }
////                for (i1 in holidays) {
//////                    $("#dashboardss").attr("hidden", true);
//////                    $("#usersprofil").attr("hidden", true);
//////                    $("#addusersss").attr("hidden", true);
//////                    $("#addrequests").attr("hidden", true);
//////                    $("#historymanagers").attr("hidden", true);
//////                    $("#historyusers").attr("hidden", true);
//////                    $("#approvals").attr("hidden", true);
////                $("#dashboardss").removeAttr("hidden");
////                $("#usersprofil").removeAttr("hidden");
////                $("#addusersss").removeAttr("hidden");
////                $("#addrequests").removeAttr("hidden");
////                $("#historymanagers").removeAttr("hidden");
////                $("#historyusers").removeAttr("hidden");
////                $("#approvals").removeAttr("hidden");
////                }
//            }
////            });
        </script>
    </body>
</html>
