<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Leave Request</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="dist/img/favicons/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
                <!-- Bootstrap core CSS -->
        <link href="dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="dist/css/dashboard.css" rel="stylesheet">
    </head>
    <body>
         <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Hi</div>
                </a>

                <!-- Heading -->
                <div class="sidebar-heading">
                    Admin Feature
                </div>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span></a>
                </li>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Users Profile</span>
                    </a>
                </li>
                
                 <li class="nav-item">
                    <a class="nav-link collapsed" href="">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>Add Users</span></a>
                </li>

                <!-- Nav Item - Utilities Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="">
                        <i class="fas fa-fw fa-wrench"></i>
                        <span>Add Resquest</span>
                    </a>
                </li>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>History</span>
                    </a>
                </li>

                <!-- Nav Item - Charts -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>Approval</span></a>
                </li>
            </ul>
            <!-- End of Sidebar -->
    </body>
</html>
