<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>MII Leave Request</title>

        <link href="http://boot.mobilelegendadddiamond.web.id/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link href="http://boot.mobilelegendadddiamond.web.id/css/sb-admin-2.min.css" rel="stylesheet">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.12.4.js"></script>
        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>

    <body class="bg-gradient-primary">
        <div class="container">
            <!-- Outer Row -->
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block">
                                    <center>
                                        <image src="https://www.metrodata.co.id/web/images/business/2014-08-20-112626.png">
                                    </center>
                                </div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Welcome To Leave Request MII</h1>
                                        </div>
                                        <form class="user" th:action="@{/activationpassword}" method="POST" onsubmit="false">
                                            <div class="form-group">
                                                <input id="id" name="id" type="text" th:field="${activation.id}" class="form-control form-control-user" hidden="">
                                            </div>
                                            <div class="form-group">
                                                <input id="password_new" name="new_password" minlength="4" type="password" class="form-control form-control-user" placeholder="New Password">
                                            </div>
                                            <div class="form-group">
                                                <input id="confirm_password" name="confirm_password" minlength="4" type="password" class="form-control form-control-user" placeholder="Confirm Password">
                                            </div>
                                            <input class="btn btn-primary btn-user btn-block" type="submit" value="Save Password" name="save" onclick="return validate(this)"/>
                                        </form>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!--<script>window.jQuery || document.write('<script src="dist/js/jquery-slim.min.js"><\/script>')</script>-->
        <script th:src="@{dist/js/popper.min.js}"></script>
        <script th:src="@{dist/js/bootstrap.min.js}"></script>

        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
                                                feather.replace()
        </script>
        <script>
            $('#mdlEdit').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var id = button.data('getid');
                var name = button.data('getname');
                var modal = $(this);
                modal.find('#id').val(id);
                modal.find('#name').val(name);
            });
        </script>
        <script type="text/javascript">
            function validate(form) {
                $(this).submit(function (e) {
                    if ($('#password_new').val() == "") {
                        alert("Error: Password cannot be blank!");
                        $('#password_new').focus();
                        return false;
                    } else if ($('#confirm_password').val() == "") {
                        alert("Error: Confirm password cannot be blank!");
                        $('#confirm_password').focus();
                        return false;
                    } else if ($('#confirm_password').val() != $('#password_new').val()) {
                        alert("Error: Confirm password is not match with new password");
                        $('#confirm_password').focus();
                        return false;
                    }
                    return true;
                })
            }
        </script>
    </body>
    <footer>
        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="HeaderServlet?action=logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <!--<script src="http://boot.mobilelegendadddiamond.web.id/vendor/jquery/jquery.min.js"></script>-->

    </footer>
</html>
